//
// ==========  FONTS ==========
//
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

//
// =========== BODY ============
// 

$heading_red : #D72323;
$selected_black : #303841;
$background_black : #3A4750;
$light_font : #EEEEEE;

$sky_color : #3DC8FF;



body{
    margin: 0;
    overflow-x: hidden;
    background-color: $background_black;
}

//
//============ NAVIGATION BAR ================
//

$selected : $selected_black;
$hovered : #AF4441;
$nav_color : $heading_red;

.current {
    background-color: $selected;
}

.logo {
    content: url("/assets/image/logo2.png");
    display: inline-block;  
    height: 90%;
}

a[name="pagelink"]{
    display: table-cell;
    vertical-align: middle;
    color: $light_font;
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
    height : 30px;
    width : 80px;
    text-decoration: none;
    text-align: center;
    background-color: $selected;
}

a[name="pagelink"]:not(.current){
    display: table-cell;
    vertical-align: middle;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    height : 30px;
    width : 80px;
    text-decoration: none;
    text-align: center;
    background-color: $nav_color;
}

a[name="pagelink"]:hover{
    background-color: $hovered;
}


.navigation {
    background-color: $heading_red;
    

}

.navdiv {
    float: none;
}


.social {
    float: left;
}

.sitenav {
    float: right;
}

//
//============ Navigation Bar End =============
//