$enable_gradients : true;

//
// ==========  FONTS ==========
//
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');

//
// =========== BODY ============
// 

$heading_red : #D72323;
$selected_black : #303841;
$background_black : #3A4750;
$light_font : #EEEEEE;

$sky_color : #3DC8FF;



body{
    margin: 0;
    overflow-x: hidden;
    background-color: $background_black;
    color: $light_font;
}

.nameHeader{
    font-family: 'Handlee', cursive;
    font-size: 4em;
}

.headerRow {
    height: 300px;
}


//
//============ NAVIGATION BAR ================
//

$selected : $selected_black;
$hovered : #AF4441;
$nav_color : $heading_red;

.current {
    background-color: $selected;
}

.logo {
    content: url("/assets/image/logo2.png");
    display: inline-block;  
    height: 90%;
}

a[name="pagelink"]{
    display: table-cell;
    vertical-align: middle;
    color: $light_font;
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
    height : 30px;
    width : 80px;
    text-decoration: none;
    text-align: center;
    background-color: $selected;
}

.nav-link[name="page-link"] {
    text-align: right;
    color: $light_font;
}

.go_right {
    float : right;
}

.navigation {
    background-color: $background_black
    

}

.navdiv {
    float: none;
}


.social {
    float: left;
}

.sitenav {
    float: right;
}

//
//============ Navigation Bar End =============
//

// =========== Projects ==================

.projectName {
    font-size: 2.5rem;
}