$enable_gradients : true;

//
// ==========  FONTS ==========
//
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');

//
// =========== BODY ============
// 

$heading_red : #D72323;
$selected_black : #303841;
$background_black : #3A4750;
$light_font : #999999;
$even_ligher_font: #DDDDDD;

$sky_color : #3DC8FF;



body{
    margin: 0;
    overflow-x: hidden;
    background-color: $background_black;
    color: $even_ligher_font;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.introHeader{
    font-family: 'Baloo 2', sans-serif;
    font-size: 1.5rem;
}

.valueHeader{
    font-family: 'Handlee', cursive;
    font-size: 3rem;
}

.skillHeader{
    font-family: 'Baloo 2', sans-serif;
    font-size: 1.5rem;
}

.headerRow {
    height: 12rem;
}


//
//============ NAVIGATION BAR ================
//

$selected : $selected_black;
$hovered : #AF4441;
$nav_color : $heading_red;

.current {
    background-color: $selected;
}

.logo {
    content: url("/assets/image/logo2.png");
    display: inline-block;  
    height: 90%;
}

a[name="pagelink"]{
    display: table-cell;
    vertical-align: middle;
    color: $light_font;
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
    height : 30px;
    width : 80px;
    text-decoration: none;
    text-align: center;
    background-color: $selected;
}

.nav-link[name="page-link"] {
    text-align: right;
    color: $light_font;
}

.go_right {
    float : right;
}

.navigation {
    background-color: #3A4750DD;
    

}

.navdiv {
    float: none;
}


.social {
    float: left;
}

.sitenav {
    float: right;
}

//
//============ Navigation Bar End =============
//

// =========== Projects ==================

.projectName {
    font-family: 'Open Sans','sans-serif';
    font-weight: bolder;
    font-size: 2.5rem;
}

.projectsHeader {
    font-family: 'Bungee Inline', cursive;
    color: $light_font;
    font-size: 3.5rem;
}

.categoryName {
    font-size: 2rem;
    color: $hovered;
    font-family: 'Bungee', sans-serif;
}

//============== FOOTER =======

.footer {
    position: relative;
    bottom : 0px;
    border-top : 4px dotted $selected_black;
    height: 8rem;
}

.footerName{
    color: $light_font;
    font-size: .9rem;
    font-family: 'Open Sans', sans-serif;
}

.footerLink{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.footerLinkImage{
    width: 1rem;
    margin-right: .2rem;
}

.myContent {
    padding-bottom: 1rem;
    flex : 1;
}

.footerCopyright{
    font-size:.5rem;
    color : $light_font;
}

.pgz{
    position: absolute;
    bottom:0px;
    font-size: .4rem;
}

// ========== index

.showRow{
    background-color: $selected_black;
}

.moduleName{
    font-family: 'Bungee', sans-serif;
    font-size: 2rem;
}

.moduleText{
    color : $even_ligher_font;
    width : 100%;
    padding: 0%;
}

.mySkills{
    justify-content: left;
    padding: 0%;
    margin-left: 1rem;
    margin-top : 5%;
    align-self: center;
    
}

.skillDiv{
    display: inline-block;
    color: $even_ligher_font;
    font-family: 'Baloo 2',sans-serif;
    //@extend: $background_black;
    font-size: 1.2rem;
    border:.2rem solid $hovered;
    border-radius: .5rem;
    border-left: none;
    border-right: none;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 0rem;
    padding-left: .3rem;
    padding-right: .3rem;
    
}



