---
layout : default
---

<div class="container">
    <div class="row">
        <div class="col">
            <a class="my-5 btn-sm bg-primary text-light" href="/projects/"> Back to Projects</a>
        </div>
    </div>
    <div class="row justify-content-around justify-content-md-between">
        <div class="col-12 col-md-5">
            <div class="projectName">{{page.name}}</div>
        </div>

        <div class="col d-none d-md-inline"></div>

        <div class="col-12 col-md-5 align-self-center">
            {%include downloadbuttons.html %}
        </div>
    </div>

    <div class="row justify-content-around pt-3">
        <div class="col-12 col-md-6 order-1 pt-2 pt-md-0">
            {{ content }}
        </div>
        <div class="col-12 col-md-6 order-first order-md-2">
            {%include carousel.html %}

            <div class="d-none d-md-block pt-3">
                {%include information_table.html %}
            </div>
        </div>
        <div class="d-block d-md-none col-12 col-md-5 align-self-center order-3 pb-3">
            {%include downloadbuttons.html %}
        </div>
        <div class="d-block d-md-none col-12 col-md-6 order-last order-md-4">
            {%include information_table.html %}
        </div>

    </div>
    <div class="row">
        <div class="col">
            <a class="btn bg-primary text-light" href="/projects/"> Back to Projects</a>
        </div>
    </div>

</div>